/* @font-face {
    font-family: 'EduSABeginner-VariableFont_wght';
    src: url('./font/Roboto-Medium.ttf');
       
} */
a{
    color: grey;

}
img{
  display: block;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
    
}
h1{
    /* font-family: 'EduSABeginner-VariableFont_wght'; */
    font-size: 48px;
    font-weight: 800;
}
h2{
    /* font-family: 'EduSABeginner-VariableFont_wght'; */
    font-size: 36px;
    font-weight: 500;
}
p{
    font-size: 20px;
    font-weight: 400;
}
.container {
  display: flex;
  gap: 40px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}
.container-img {
  padding: 40px;
}
.container-img li{
  font-size: 20px;
  font-weight: 500;
  color: grey;  
      
}
.container-title {
  padding: 20px;
  background-color: lightgrey;
  border-radius: 10px;
}
.icon-svg {
  padding: 0;
  margin: 5px;
  width: 30px;
  height: 30px;
}
.contactme-list {
  margin: 0;
  padding-left: 22px;
  list-style: none;
}
.contactme-item {
  display: flex;
  align-items: center;
}
.img-container{
  border-radius: 50%;
  overflow: hidden;
}
.link-project{
  /* font-family: EduSABeginner-VariableFont_wght; */
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.link-git{
  font-size: 20px;
  font-weight: 500;
  color: grey;
}