.container {
  display: flex;
  padding: 20px;
}
.container-img {
  width: 50vw;
}
.container-title {
  width: 50vw;
}
.icon-svg {
  /* display: block; */
  padding: 0;
  margin: 5px;
  width: 30px;
  height: 30px;
}
.contactme-list {
  margin: 0;
  list-style: none;
}
.contactme-item {
  display: flex;
  align-items: center;
}
